{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
  <title>Магазин</title>
{% endblock title_page %}
{% block content %}
  {% if user.is_authenticated %}
    <div style="position: absolute; right: 50%; transform: translateX(50%); margin-top: 30px;">
      <button onclick="window.location.href = {% url 'reg' %}" type="submit" class="btn btn-outline-info">Профиль</button>
      <button onclick="window.location.href = {% url 'exit' %}" type="submit" class="btn btn-outline-info">Выход</button>
    </div>
  {% else %}
    <div style="position: absolute; right: 50%; transform: translateX(50%); margin-top: 30px;">
      <button onclick="window.location.href = {% url 'reg' %}" type="submit" class="btn btn-outline-info">Регистрация</button>
      <button onclick="window.location.href = {% url 'login' %}" type="submit" class="btn btn-outline-info">Вход</button>
    </div>
  {% endif %}
<section class="main-section paddind" id="Portfolio">
  <!--main-section-start-->
    <!-- <a class="btn btn-outline-secondary" style="position: absolute; float: right; margin: 0;">Регистрация</a> -->
    <!-- <a class="btn btn-outline-secondary" style="position: absolute; float: right; margin: 0;">Вход</a> -->
    <h2>Магазин</h2>
    <h6>У нас большой асортимент товаров.</h6>
    <div class="portfolioFilter">
      <ul class="Portfolio-nav wow fadeIn delay-02s">
        <li><a href="#" data-filter="*" class="current">Все</a></li>
        <li><a href="#" data-filter=".branding">Смартфоны</a></li>
        <li><a href="#" data-filter=".webdesign">Ноутбуки</a></li>
        <li><a href="#" data-filter=".printdesign">Компьютеры</a></li>
        <li><a href="#" data-filter=".photography">Аксессуары</a></li>
      </ul>
    </div>

  </div>
  <div class="portfolioContainer wow fadeInUp delay-04s">
    {% for post in pr %}
      {% if post.availability %}
       {% if post.group == "mobile" %}
          <div class=" Portfolio-box branding"> <!-- Смартфоны -->
            <a href="img/Portfolio-pic3.jpg"><img src="{{ post.img.url }}" alt=""></a>
            <h3>{{ post.name }}</h3>
            <p>Цена: {{ post.price }} ₽</p>
          </div>
       {% elif post.group == "pc" %}
        <div class=" Portfolio-box printdesign"> <!-- Компьютеры -->
          <a href="img/Portfolio-pic1.jpg"><img src="{{ post.img.url }}" alt=""></a>
          <h3>{{ post.name }}</h3>
          <p>Цена: {{ post.price }} ₽</p>
        </div>
       {% elif post.group == "notebook" %}
          <div class="Portfolio-box webdesign"> <!-- Ноутбуки -->
            <a href="img/Portfolio-pic2.jpg"><img src="{{ post.img.url }}" alt=""></a>
            <h3>{{ post.name }}</h3>
            <p>Цена: {{ post.price }} ₽</p>
          </div>
       {% else %}
          <div class=" Portfolio-box photography"> <!-- Аксессуары -->
            <a href="img/Portfolio-pic4.jpg"><img src="{{ post.img.url }}" alt=""></a>
            <h3>{{ post.name }}</h3>
            <p>Цена: {{ post.price }} ₽</p>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</section>
{% endblock content %}
